<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<!-- 
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />

	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

	<link href="../templates/css/page.error.css" th:href="@{css/page.error.css}"
		rel="stylesheet" media="screen" />
 -->		
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/page.error.css" rel="stylesheet" />
	
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="box col-md-6 col-md-offset-3">
				<div class="logo">
					<h1 th:text="${errors.status}"></h1>
				</div>
				<p class="lead text-muted" th:text="${errors.message}">Oops, an error occurred!</p>
				<a href="/status" class="btn btn-primary">VOEST Connector Status</a>
			</div>
		</div>
	</div>
</body>
</html>
