<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>T-Systems - VOEST Connector</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!-- 
	<link
		href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
		rel="stylesheet" media="screen" />

	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

	<link href="../templates/css/page.epcis.css" th:href="@{css/page.epcis.css}"
		rel="stylesheet" media="screen" />
 -->		
	<link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/page.epcis.css" rel="stylesheet" />	
</head>
<body>
	<h3>VOEST Connector Status</h3>
	<pre lang="xml" th:text="${name}" ></pre>
</body>
</html>


